@import "tailwindcss";

* {
  margin: 1 0 0 0;
  padding: 0 3px 0 0;
  box-sizing: border-box;
}

@theme {
  --color-primary: #ff8901;
  --color-secondary: #4a6cf7;
  --color-neutral: #333333;
}

/* @theme dark {
  --color-primary: #ffb500;
  --color-secondary: #1e40af;
  --color-neutral: #f3f4f6;
  --bg: #0b1020;
  --text: #f3f4f6;
} */
 /* @theme light {
  --color-bg: #fff;
  --color-text: #000;
}

@theme dark {
  --color-bg: #0b1020;
  --color-text: #f3f4f6;
} */

@layer components{
    .search-bar{
        @apply w-full;
    }
    
}
 html[data-theme="light"] {
  --color-bg: #fff;
  --color-text: #000;
}

html[data-theme="dark"] {
  --color-bg: #0b1020;
  --color-text: #f3f4f6;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

@media(max-width: 768px){
  header{
    grid-template-columns: 1fr;
    gap: 40px;
    background-color: #2162e2;
  }

}